/*================================================================================
  Item Name: Stack - Responsive Admin Theme
  Version: 1.0
  Author: PIXINVENT
  Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
/*================================================================================================
   GENERAL STYLES 
================================================================================================*/

h1.sympel-title{

  font-family: amatic_scregular;
    font-size: 60px;}

h3.sympel-title{
  font-family: amatic_scregular;
    font-size: 50px;}

.strong{
  font-weight: 700;
}

.text-right{
  text-align: right!important;
}

.text-gray{
  color: #c8cab8;
}

.square {
  border-radius: 0!important;
}

body{
  font-family: 'Museo Sans';
  font-weight: 400;
  font-size: 16px;
}

h3.section-title{
  font-family: 'Museo Sans';
  font-size: 30px;
}

h3.special-title{
    font-weight: 600;
    font-size: 24px;
}

.icon-title{
  font-size: 25px;
  margin-right: 10px;
}

.icon-big{
   font-size: 100px;
}

.color-primary{
  color: #1cbdcb!important;
}

.color-secondary{
  color: #f05155!important;
}

.color-tertiary{
  color: #252626!important;
}

.color-warning{
  color: #f5cd1d!important;
}

.bg-primary{
  background-color: #1cbdcb!important;
}

.bg-secondary{
  background-color: #f05155!important;
}

.overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
}

.form-content{
	padding: 70px
}

.frame-square, .frame-round {
  background: #fff;
  border: 1px solid #f5f7fa;
  display: inline-block;
  vertical-align: top;
  padding: 1px;
  width: 30px;
  height: 30px;
  margin-right: .5em;
  margin-bottom: .3em;
  position: absolute;
  left: -25px;
  top: 12px;
}

.frame-round {
  border-radius: 50%;
  overflow: hidden;
}
.frame-round .crop {
  border-radius: 50%;
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.crop img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
}

.retina .crop img {
  transform: scale(0.5, 0.5);
}

.small {
  display: block;
  font-weight: normal;
  opacity: .8;
}

.flex{
  display: flex;
}



/*================================================================================================
   FONT 
================================================================================================*/
@font-face {
  font-family: 'amatic_scregular';
  src: url("../../app-assets/fonts/amaticsc/amaticsc-regular-webfont.woff2") format("woff2"), url("../../fonts/amaticsc/amaticsc-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url("../../app-assets/fonts/museo-sans/museosans_300-webfont.woff2") format("woff2"), url("../../fonts/museo-sans/museosans_300-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
    font-family: 'Museo Sans';
    src: url('../../app-assets/fonts/museo-sans/MuseoSans-100.woff2') format('woff2'),
        url('../../app-assets/fonts/museo-sans/MuseoSans-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

/*================================================================================================
   File upload plugin
================================================================================================*/
.btn-outline-secondary:hover {
    color: #FFFFFF;
    background-color: #626E82!important;
    border-color: #626E82!important;
}

.close{
    opacity: 1;
    padding: 4px!important;
    font-weight: 600!important;
    color: #f05256;
}



/*================================================================================================
   RADIO BUTTON STYLES
================================================================================================*/
[type="radio"].big-radio:checked,
[type="radio"].big-radio:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"].big-radio:checked + label,
[type="radio"].big-radio:not(:checked) + label {
  position: relative;
  padding-left: 60px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block; }

[type="radio"].big-radio:checked + label:before,
[type="radio"].big-radio:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 35px;
  border: 4px solid;
  background: #fff;
  border-radius: 5px; }

[type="radio"].big-radio:checked + label:after,
[type="radio"].big-radio:not(:checked) + label:after {
  content: "\f00c";
  font: normal normal normal 14px/1 FontAwesome;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7px;
  left: 10px;
  font-size: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 100%; }

[type="radio"].big-radio:checked + label.radio-primary:after,
[type="radio"].big-radio:not(:checked) + label.radio-primary:after {
  color: #f05256; }

[type="radio"].big-radio:checked + label.radio-secondary:after,
[type="radio"].big-radio:not(:checked) + label:after {
  color: #1cbdcb;}

[type="radio"].big-radio:checked + label.radio-tertiary:after,
[type="radio"].big-radio:not(:checked) + label:after {
  color: #252626;}


[type="radio"].big-radio:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"].big-radio:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.label-big {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  /* letter-spacing: 5px; */
  /* font-family: amatic_scregular; */
  /* padding-top: 10px; */
  padding-top: 3px; }

p.radio-description {
  padding-left: 60px; }

[type="radio"].big-radio:checked + label.radio-primary:before, [type="radio"]:not(:checked) + label.radio-primary:before {
  border-color: #f05256; }

[type="radio"].big-radio:checked + label.radio-secondary:before, [type="radio"]:not(:checked) + label.radio-secondary:before {
  border-color: #1cbdcb; }

[type="radio"].big-radio:checked + label.radio-tertiary:before, [type="radio"]:not(:checked) + label.radio-tertiary:before {
  border-color: #252626; }

/*================================================================================================
   FACEBOOK BUTTON 
================================================================================================*/

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}


.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}

/*================================================================================================
   NAV STYLES
================================================================================================*/
.nav-actions{
  /*text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding: 9px;*/
}
ul.actions li a.nav-actions:after {
    content: "|";
    margin-left: 10px;
    font-weight: 300;
}
ul.actions li.nav-item:last-child a.nav-actions:after{
  content: "";
}

.header-navbar .navbar-header .navbar-brand {
    padding: 20px;
}

.header-navbar .navbar-container {
    padding: 5px 18px;
    height: 5rem;
    margin-left: 240px!important;
}
@media (max-width: 767px) {
  .header-navbar .navbar-container {
    margin-left: 0px!important;
  }
}


.link-hiw{
  padding: 8px 5% 0 5%;
}    

#mainNav.navbar-shrink {
    border-color: rgba(34,34,34,.1);
    background-color: #fff;
}

.square-icon.menu{
    font-size: 14px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 8px;
    margin-right: 15px!important;
}

.icon i.square-icon.menu:after{
  content:"";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid;
  position: absolute;
  top: 21px;
  left: 38px;
}

.section-title.icon{
  margin-left: 35px;
}

.square-icon.heading-category{
    font-size: 16px;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right: 14px!important;
    position: absolute;
    left: 0;
    padding-top: 9px;
}

.icon i.square-icon.heading-category:after{
  content:"";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid;
  position: absolute;
  top: 10px;
  left: 35px;
}

.square-icon.list-tag {
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 14px!important;
    position: absolute;
    /* left: 0; */
    padding-top: 10px;
    z-index: 1;
    right: 3%;
}

.square-icon.light{
    background: #fff;
    color: #fff;
}

.icon i.square-icon.light.menu:after{
  border-left-color: #fff;
}

.icon i.square-icon.link-primary.menu:after{
  border-left-color: #f05256;
}

.icon i.square-icon.link-primary.heading-category:after{
  border-left-color: #f05256;
}

.icon i.square-icon.link-secondary.menu:after{
  border-left-color: #1cbdcb;
}

.icon i.square-icon.link-secondary.heading-category:after{
  border-left-color: #1cbdcb;
}

.nav-item.icon{
  position: relative;
}

.header-navbar .navbar-container ul.nav li.icon > a.nav-link {
    padding: 1rem 0.6rem;
}


.link-primary {
  background-color: #f05256!important;
  color: #ffffff; }

.link-secondary {
  background-color: #1cbdcb!important; 
  color: #ffffff; }

.login-nav{
  position: relative;
}
.login-nav img{
   /* position: absolute;
    top: 15px;
    left: -25px;*/
    height: 5px;
}

.sub-menu{
    padding-left: 30px;
}

@media (max-width: 991px){
  #navbar-mobile .search-input.open .input {
    width: 110px;
  }
}

@media(max-width: 845px){
   .menu-icon-description{
      display: none;
   }
}

@media (max-width: 767px){
  #navbar-mobile.navbar-toggleable-sm .navbar-nav .nav-item {
      float: none;
  }

  .header-navbar .navbar-container .open .dropdown-menu {
    left: 0!important;
  }

  .header-navbar .navbar-container ul.nav li > a.nav-link{
      padding: 1rem 0.6rem!important;
  }

  .square-icon.menu {
    font-size: 18px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-top: 8px;
    margin-right: 15px!important;
  }
}



/*================================================================================================
   HOME RECENT CONTAINERS STYLES
================================================================================================*/

.recent-container {
  padding: 5% 0;
}

/*================================================================================================
   FORM WIZARD STYLES
================================================================================================*/

.app-content .wizard.wizard-circle > .steps .step {
    width: 50px;
    height: 50px;
    line-height: 40px;
    border: 3px solid #F5F7FA;
    font-size: 1.3rem;
    border-radius: 10px;
}

.validation-container{
    background-color: #fcfbfa;
}

.card-block.steps{
  border: 1px solid #e6e2e2;
}
/*================================================================================================
   TRIANGLE TABS STYLES
================================================================================================*/

.nav.nav-tabs.nav-linetriangle .nav-item a.nav-link.active:before {
    margin-left: -11px;
    border-width: 12px;
    border-top-color: #13a38d;
}

.nav.nav-tabs.nav-linetriangle .nav-item a.nav-link.active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-color: #13a38d;
    color: #13a38d;
}

.nav.nav-tabs.nav-linetriangle.nav-justified {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-color: #13a38d;
}

.nav.nav-tabs.nav-linetriangle .nav-item a.nav-link.active:focus {
    color: #13a38d;
}

/*================================================================================================
   TABLE STYLES
================================================================================================*/

.table-no-vertical td {
    border-left: none;
    border-right: none;
    vertical-align: middle;
}

.table-no-vertical thead th{
    border-top: none;
    border-left: none;
    border-right: none;
}

/*================================================================================================
   INDEX HEADER STYLES
================================================================================================*/

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 15%;
  color: white;
  background: url("../img/main-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  padding-bottom: 5%;
  z-index: -1;}

@media(max-width: 767px){
  header.masthead{
    padding-top: 85px;
  }
}
  header.masthead.inner{
  	padding-top: 18%;
    color: white;
    padding-bottom: 5%;
  }
  header.masthead .header-content {
    margin-bottom: 100px;
    text-align: left; }
    header.masthead .header-content h1 {
      font-size: 50px; }
  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto; }
    header.masthead .device-container .screen img {
      border-radius: 3px; }
  header.masthead h1 {
    text-transform: uppercase; }
  header.masthead p.main-quote span {
    margin-bottom: 30px;
    background: #1cbdcb;
    text-transform: uppercase;
    font-size: 50px; 
    font-family: 'Museo sans';
    font-weight: 700;
    text-transform: lowercase;
    padding-right: 5px;
    padding-left: 5px;
  }
  header.masthead .quote-paragraph {
    font-size: 25px;
    color: #000; 
    font-family: 'Museo sans';
    font-weight: 300;
    text-transform: lowercase;
  }

  .header-navbar .navbar-container ul.nav li > a.nav-link {
    padding: 1.4rem 0.6rem;
    color: black;
    font-size: 14px;
 }

 .btn-outline-header{
    font-size: 20px;
    color: #000;
    border: 4px solid #000;
    background: transparent;
 }

.btn-outline-header:hover {
    color: #FFFFFF;
    background-color: #000;
    border-color: #000;
}


/*================================================================================================
   HEADER STYLES
================================================================================================*/

header.masthead.alt-bg{
	background: url(../img/img-min.jpg);
	background-size: cover;
}

/*================================================================================================
   EQUAL HEIGHT COLUMNS STYLES
================================================================================================*/

.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.equal > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.equal.center > [class*='col-'] {
  justify-content: center;
}


/*================================================================================================
   SEARCH STYLES
================================================================================================*/

.form-text{
  text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 300
}

.search{
  background:#252626;color: #fff;padding: 3% 5%;
}

.search-list{
  padding: 5%;
}

.search-radio-label{
  color: white;
  font-size: 14px;
}

/*================================================================================================
   QUOTE STYLES
================================================================================================*/
section.quote{
  background: #252626;
  padding: 5% 0 0;
}
section.quote .section-heading h2 {
  font-family: 'amatic_scregular';
  font-size: 70px;
  letter-spacing: 5px;;
  color: #fff;}

section.quote .section-heading p {
  margin-bottom: 0; }

/*================================================================================================
   WELCOME STYLES
================================================================================================*/
.welcome-section{
  margin-top: -31px;
  height: 361px;
  z-index: 2;
  background: url(../img/welcome-bg.png);
  background-position: center;
  /*background-repeat: no-repeat; */
}

.welcome-section-small{
  margin-top: -31px;
  z-index: 2;
  background: #252626;
  padding: 5%;
}

.welcome-column-small{
    margin-top: 30px;
}
.welcome-quote{
  text-transform: lowercase;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Museo Sans';
  font-weight: 700;
}

.welcome-options{
  padding-top: 3%;
}
.welcome-text{
  font-size: 20px;
}

.welcome-column{
   /*background: #252626;*/
   margin-top: 30px;
   height: 295px;
}

.welcome-column.quote{
   padding: 5%;
}

.welcome-column.description{
  padding: 3% 5% 0 12%;
}

.button-options{
  border-radius: 0;
  text-transform: uppercase;
  padding: 20px;
  width: 195px;
}

.options-description{
  font-size: 25px;
  padding-left: 10%;
  font-family: 'Museo sans';
  font-weight: 300;
}

.option-container{
  padding-bottom: 2%;
}

.button-description{
  color: #fff;
  background-color: #252626;
  border-color: #fff;
  border-radius: 0;
  margin: 0 auto;
  text-transform: uppercase;
}

.button-description:hover{
    color: #252626;
    background: white;
    font-weight: 600;
}

.button-primary{
  background-color: #1cbdcb!important;
  color: #ffffff;
  transition: .3s;
  border: 2px solid;
}

.button-primary:hover{
    border-color: #1cbdcb;
    color: #1cbdcb;
    background-color: #fff!important;
    font-weight: 600;
}

.button-secondary{
  background-color: #f05155!important;
  color: #ffffff;
  transition: .3s;
}

.button-secondary:hover{
    border: 2px solid #f05155;
    color: #f05155;
    background-color: #fff!important;
    font-weight: 600;
}

.button-tertiary{
  background-color: #252626!important;
  color: #ffffff;
  transition: .3s;
}

.button-primary.button-options:hover{
    border: 2px solid #1cbdcb;
    color: #1cbdcb;
    background-color: #fff!important;
    font-weight: 600;
}

.button-secondary.button-options:hover{
    border: 2px solid #f05155;
    color: #f05155;
    background-color: #fff!important;
    font-weight: 600;
}


.button-tertiary.button-options:hover{
    border: 2px solid #252626;
    color: #252626;
    background-color: #fff!important;
    font-weight: 600;
}

@media (max-width: 1300px) and (min-width: 991px) {
  .welcome-quote {
    margin-right: 24px;
  }
}

/*================================================================================================
   SHARE BAR
================================================================================================*/
#st-2 .st-btn[data-network='facebook'] {
    background-color: #f05155!important;
}

#st-2 .st-btn[data-network='twitter'] {
    background-color: #35bcce!important;
}

#st-2 .st-btn[data-network='sharethis'] {
    background-color: #263152!important;
}

/*================================================================================================
   HOW IT WORKS STYLES
================================================================================================*/
@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem; } }

.features-icons {
  padding-bottom: 7rem; }
/*  .features-icons .features-icons-item {
    max-width: 20rem; } */
    .features-icons .features-icons-item .features-icons-icon {
      height: 7rem; }
      .features-icons .features-icons-item .features-icons-icon i {
        font-size: 4.5rem; }
    .features-icons .features-icons-item:hover .features-icons-icon i {
      font-size: 5rem; }

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .testimonials .testimonial-item {
    max-width: 18rem; }
    .testimonials .testimonial-item img {
      max-width: 12rem;
      box-shadow: 0px 5px 5px 0px #adb5bd; }

.call-to-action {
  position: relative;
  background-color: #f05256;
  padding-top: 7rem;
  padding-bottom: 7rem; }


.showcase .showcase-text {
  padding: 3rem; }

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover; }

.ml-auto, .mx-auto {
    margin-left: auto!important;
}
    .mr-auto, .mx-auto {
    margin-right: auto!important;
}

h3.howitworks{
    font-size: 2.25rem;
    font-weight: bold;
}
p.howitworks{
    font-size: 2.25rem;
}

@media (max-width: 991px) and (min-width: 544px){
  .triangle-bg {
    top: -152px!important;
    width: 520px;
  }
}

@media (max-width: 543px){
  .triangle-bg {
    display: none;
  }
  .features-icons {
    padding-bottom: 0;
  }
}

@media (min-width: 992px){
  .order-lg-1 {
      -ms-flex-order: 1;
      order: 1;
  }
}

@media (min-width: 992px){
  .order-lg-2 {
      -ms-flex-order: 2;
      order: 2;
  }
}

@media (min-width: 992px){
.feature-half {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}

.p-5{
  padding: 3rem;
}

.align-items-center{
    display: flex;
    align-items: center;
}

.btn-cta{
    font-size: 20px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #fff;
    color: white;
    padding: 1% 2%;
    margin-top: 1%;
}

.img-feature{
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
}


.card-header .card-title.faq{
  font-size: 22px;
  font-weight: 600;
  display: block;
}

.collapse-icon.left a.inner-link{
  padding-left: 0;
}
.card-block.faq{
    background: #ececec;
    color: #000000;
}
.collapse-icon a[data-toggle='collapse']:after{
  top: 25%!important;
}

.collapse-icon a[data-toggle='collapse']:before{
  top: 25%!important;
}

.title-full{
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.title-full h2{
  font-size: 45px;
  color: white;
}
.title-full.primary{
  background-color: #00b5b8;
}
.title-full.secondary{
  background-color: #f05256;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #f05256;
  margin: 0 auto;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #00b5b8;
  margin: 0 auto;
}

.justify-center-columns{
    justify-content: center!important;
    display: flex;
}

.triangle-bg{
  position: absolute;
  top: -245px;
  width: 1096px;
}

.bg-triangle{
  position: relative;
}

.triangle-padding{
padding-top: 90px;
}

.triangle-margin{
      margin: 100px 0px 200px 0px;
}

.howitworks-title{
  font-size: 3em;
}

/*================================================================================================
   FOOTER STYLES
================================================================================================*/
footer{
  background: #252626;
  padding: 3% 5%;
}

footer ul{
  list-style: none;
}

footer h3{
  color: #fff;
}

footer li a{
  color: #998B7B;
}

p.footer-text{
  color: #DBD8CF;
}

footer form .form-section {
    color: #fff;
    line-height: 3rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

form .form-section i.square-icon{
    padding: 10px;
    background: #12a28d;
    margin: 0 10px 0 0;
}

footer .footer-company {
    margin-top: 40px; }
  footer .footer-company-text {
    text-align: right !important; }
  @media (max-width: 575px) {
    footer .footer-company-text {
      text-align: center !important;
      margin-bottom: 20px; }
    footer .footer-company {
      text-align: center !important; } }

      footer .border-right {
    border-right: 2px solid #7b7b7d;
}

@media(max-width: 991px) and (min-width: 545px){
  .footer-menu-section{
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media(max-width: 545px){
  footer .border-right {
    border-right: none;
  }
}

  

/*================================================================================================
   PUBLIC PROFILE STYLES
================================================================================================*/
.profile-link:before{
    content: "";
    padding: 20px;
    font-size: 25px;
    line-height: 14px;
}

.profile-link a.phone{
  color: #252626;
}

.profile-link.phone{
  display: block;
  margin-top: 10px;
}

.profile-link.phone:before{
  padding: 0;
}
.profile-type{
 font-size: 15px;
}

.profile-mission{
  padding: 0.5rem 0;
  font-size: 15px;
}

.profile-label{
    font-size: 22px;
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, serif;
}

.profile-info .section-title{
  font-size: 35px;
}
.profile-links-container{
  /*padding-left: 25px;*/
  font-weight: 600;
  color: #f05256;
  position: relative;
}

.profile-links-landmark{
  padding-left: 25px;
  font-weight: 600;
  color: #f05256;
  margin-left: 50px;
  position: relative;
  left: 4px;
  top: -2px
}

.profile-links-landmark .map{
  font-size: 25px;
  color: #f05256;
  margin-right: 10px;
}


.profile-links-container .map{
  font-size: 25px;
  color: #f05256;
  margin-right: 10px;
}

.profile-links-container .web{
  color: #00b5b8;
  margin-right: 10px;
}

.profile-links-container .phone{
  color: #252626;
  margin-right: 10px;
}

.profile-stats{
  background-color: #fff;
}

.profile-stats .card-block{
  padding: .5rem;
}

.profile-stats p{
  margin-bottom: 0;
}

.profile-cta{
  background: #00b5b8;
}

.profile-image-container{
  display: flex;
  align-items: center;
  justify-content: center
}

.profile-image img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    min-height: 200px;
}

.profile-cta a{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.profile-info .tag{
   margin: 3px;
}

.profile-info .ein{
    font-size: 14px;
    font-weight: 600;
    color: #f05256;
}

.nav.nav-tabs.nav-linetriangle .nav-item a.nav-link{
    color: #252626;
    background: #e8eaec;
    border-radius: 0;
    font-size: 20px;
    font-weight: 500;
}

.nav.nav-tabs.nav-linetriangle.nav-justified .nav-item a.nav-link.active {
    top: 0;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
}

hr{    
  border-color: #c5c5c5;
}

@media (max-width: 767px){
  .profile-info h2, .profile-info h3{
    text-align: center;
  }
  .post-details-container{
    padding: 5%;
  }
  .post-details-container h2{
    margin-top: 25px;
  }
  .profile-link {
      margin-bottom: 10px;
  }
  .profile-links-container{
    text-align: center;
  }
}

@media (max-width: 543px){
  .profile-cta {
      height: 70px;
  }
}

@media (max-width: 992px){
  .profile-link {
      display: block;
  }
  .profile-link:before{
    padding: 0px;
  }
}

.section-title a {
    color: #404e67;
}

.section-title a:hover {
    color: #00A5A8;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    height: 300px;
}

.carousel-inner > .carousel-item{
  background-size: cover!important;
  background-repeat: no-repeat!important;
  height: 285px;
  background-position: center center!important;
}

.donations-big-description{
    display: inline-block;
    border-left: 2px solid #00b5b8;
    font-size: 32px;
    padding-left: 10px;
}

.donations-big-count{
    display: inline-block;
    margin-right: 10px;
}

/*================================================================================================
   HORIZONTAL TAB STYLES
================================================================================================*/

.nav.nav-tabs.nav-iconfall .nav-item a.active {
    color: #f05256;
    font-weight: 600;
    font-size: 18px;
}

.nav.nav-tabs.nav-iconfall .nav-item a.nav-link{
  font-size: 18px;
}

.nav.nav-tabs.nav-iconfall .nav-item a i:after{
  background: #f05256;
}

.nav.nav-tabs.nav-iconfall .nav-item a:hover, .nav.nav-tabs.nav-iconfall .nav-item a:focus{
  color: #f05256;
}


/*================================================================================================
   POSTS VIEW STYLES
================================================================================================*/

.post-info h2{
  font-size: 38px;
}

.post-details-container{
  display: flex;
  justify-content: center;
}

.post-category{
  color: #00b5b8;
  font-weight: 600;
  text-transform: uppercase;
}

.post-condition{
  color: #f05256;
  font-weight: 600;
  text-transform: uppercase;
}

/*================================================================================================
   DONATIONS LIST STYLES
================================================================================================*/

.donations-list{
  padding-top: 5%;
}

.product-card-body{
    background: #fff;
    color: #000;
}

.product-card-body.card-block{
    padding: 15px;
}

.card-title {
   margin-bottom: 2px;
}

.list-view .list-item{
  padding: 3%;
}

.card-icon{
    font-size: 25px;
    color: #f05256;
    padding: 0 5px;
}

.card-icon-container{
  display: inline;
  float: right;
}

.card .card-title {
    text-transform: none;
    font-weight: 100;
    letter-spacing: 0.05rem;
    font-size: 30px;
    font-family: museo sans;
    line-height: 30px;
    min-height: 66px;
}

.card-img-top {
    width: 100%;
    height: 14vw;
    object-fit: cover;
    min-height: 180px;
}

@media (max-width: 544px){
  .card-img-top {
    min-height: 250px;
  }
  .action-option{
    text-align: center;
    margin: 15px 0;
  }
  .list-view .list-item{
    padding: 16% 3% 0;
  }
 
}



/*================================================================================================
   DONATIONS STYLES
================================================================================================*/
.cta-box{
    padding: 0 8% 8%;
    font-size: 24px;
    color: #fff;
}

.cta-box h3{
    font-family: museo sans;
    font-size: 40px;
    padding-bottom: 30px;
}

.cta-box .btn{
    font-size: 20px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #fff;
    color: white;
    padding: 3% 10%;
    margin-top: 5%;
    transition: .3s;
}

.cta-donation{
  display: flex;
  justify-content: center;
  text-align: center;
}

.cta-donation a{
    color: white;
    padding: 20px;
}

.box-tag{
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0 15%;
}

.bg-primary.cta-box .btn:hover{
    text-decoration: none;
    background-color: #fff;
    color: #1cbdcb!important;
    font-weight: 600;
}

.bg-secondary.cta-box .btn:hover{
    text-decoration: none;
    background-color: #fff;
    color: #f05155!important;
    font-weight: 600;
}

.donation-head{
    padding-top: 5%;
}

.donation-description-title{
  font-weight: 500;
}

.donation-description-title i{
    margin-right: 10px;
    color: #f05256;
}

.donation-image-profile {
    display: flex;
    align-items: center;
}

.donation-cta-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    min-height: 100px;
}

/*================================================================================================
   FORMS STYLES
================================================================================================*/
.heading-icon{
    display: block;
    margin-top: 50px;
    font-size: 35px;
    text-align: center;
    color: #1cbdcb;
}

.form-section-heading{
  font-weight: 500;
  /*border-bottom: 1px #00000038 solid;*/
  padding-bottom: 10px;
}

.form-section-heading i{
    margin-right: 10px;
    color: #f05256;
}
     





/*================================================================================================
   OVERRIDING COLORS STYLES
================================================================================================*/

.bg-gradient-x-primary {
    background-image: -webkit-gradient(linear, left top, right top, from(#13A38D), to(#13A38D));
    background-image: -webkit-linear-gradient(left, #13A38D 0%, #4DCBCD 100%);
    background-image: -moz-linear-gradient(left, #13A38D 0%, #4DCBCD 100%);
    background-image: -o-linear-gradient(left, #13A38D 0%, #4DCBCD 100%);
    background-image: linear-gradient(to right, #13A38D 0%, #4DCBCD 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13A38D', endColorstr='#13A38D', GradientType=1);
}


.block1{
  display: block !important;
}
.carousel-control.right,
.carousel-control.left{
  background: none !important;
}

.howitworks2{
  margin-top: 55px;
}
.howitworks2 .box-1{
  background: #1cbdcb;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.howitworks2 .box-1 .left{
  text-align: center;
  padding-top: 70px;
}
.howitworks2 .box-1 .left h1{ font-size: 2.5em;}
.howitworks2 .box-1 .left img { margin-top: 20px;}
.howitworks2 .box-1 .right{
  
  text-align: center;
}
.howitworks2 .box-1 .right .content {
  width: 68%;
margin: 70px 0px 30px 70px;
}
.howitworks2 .box-1 .right h3{
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 15px;
}
.howitworks2 .box-1 .right p{
  font-size: 1.3em;
  text-align: justify;
  font-weight: 100;
}
.howitworks2 .box-2{
  padding: 30px 0 50px;
  
}
.howitworks2 .box-2 h3{
  color: #f05256;
  text-align: center;
}
.howitworks2 .box-2 .little-box{
  background: #fff;
  margin: 40px;
  -webkit-box-shadow: 6px 6px 8px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 8px -3px rgba(0,0,0,0.75);
box-shadow: 6px 6px 8px -3px rgba(0,0,0,0.75);
padding: 20px;
}
.howitworks2 .box-2 .little-box p.title{
  color: #f05256;
  font-size: 16px;
}
.howitworks2 .box-3 .left{
  text-align: center;
}
.howitworks2 .box-3 {
  background: #fff;
  padding: 70px 0; 
}
.howitworks2 .box-3 .right p.title{
  font-size: 1.2em;
  color: #f05256;
}
.howitworks2 .box-3 .right p.paragraph{
  width: 75%;
}
.howitworks2 .box-3 .right .btn-signup{
  background: #1cbdcb;
  color: #fff;
  padding: 5px 25px;
}
.howitworks2 .box-4{
  padding: 70px 0;
}

.howitworks2 .box-4 .left .content {
  width: 60%;
  margin: 0 auto;
}

.howitworks2 .box-4 .left h3{
  font-size: 2.5em;
  color: #f05256;
  margin: 0 0 20px;
  font-weight: bold;
}
.howitworks2 .box-4 .left h4{
  font-size: 1.7em;
  text-align: center;
  margin: 50px 0 20px;
}
.howitworks2 .box-4 .right{
  font-size: 1.5em;
  padding: 0 60px;
}
.howitworks2 .box-5 {
  padding: 70px 200px;
  background: #fff;
  color: #000;
}
.howitworks2 .box-5 p{
  text-align: center;
  font-size: 2em;
}
.howitworks2 .box-5 p.act{
  color: #1cbdcb;
  font-weight: bold;
}
@media  (max-width:992px){
  .howitworks2 .box-1 .right .content {
    width: 95%;
    margin: 70px 0px 30px 15px;
  }
  .howitworks2 .box-2 .little-box {
    margin: 40px 20px;
  }
}
@media  (max-width:768px){
  
  .howitworks2 .box-1 .right .content {
    width: 100%;
    margin: 70px 0px 30px 0;
  }
  .howitworks2 .box-2 .little-box {
    margin: 40px;
  }
  .howitworks2 .box-3 .right{
    text-align: center;
    padding-top: 20px;
  }
  .howitworks2 .box-3 .right p.paragraph{
    width: 80%;
    margin: 30px auto
  }
  .howitworks2 .box-4 .left .content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .howitworks2 .box-4 .right {
    padding: 50px 60px 20px;
  }
  .howitworks2 .box-5 {
    padding: 70px 20px;
  }

}
@media  (max-width:576px){
  .howitworks2 .box-1 .left img{
    width: 90%;
  }
  .howitworks2 .box-2 .little-box {
    margin: 40px 20px;
  }
  .howitworks2 .box-3 .right p.paragraph{
    width: 80%;
  }
  .howitworks2 .box-4 .right {
    padding: 50px 30px 20px;
}
  

}